<h1>Reviews#edit</h1>




<h1>Editing review</h1>
9
<%= render 'form' %>
<%= link_to 'Show', recipe_review_path(@recipe, @review) %> |
<%= link_to 'Back', recipe_reviews_path(@recipe) %>

<p>Find me in app/views/reviews/edit.html.erb</p>
